#logo {
  min-height: 46px;
  background-image: url("/image/NiteNite_OBS_TopName.png");
  background-repeat: no-repeat;
  background-position: center;
}

#follower-container {
  color: white;
  font-size: 2em;
  text-align: center;
  transition: all 1s ease;
  font-family: "Roboto";
  -webkit-text-stroke: 1px black;
}

#follower-container p {
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.invisible {
  opacity: 0;
}
