body {
  color: #01eaff;
  font-family: 'Open Sans', sans-serif;
}

.new-follower-animation {
  animation-name: slideDown, slideUp;
  animation-delay: 0s, 8s;
  animation-duration: 2s, 2s;
}

#logo-icon {
  width: 72px;
  height: 50px;
}

#twitch-icon {
  width: 50px;
  height: 50px;
}

#followerContainer {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  -webkit-text-stroke: 1px #00bcce;
}

#followerContainer #followerLogo {
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}

#followerContainer #followerName {
  font-size: 32px;
  font-weight: 800;
}

@keyframes slideUp {
  from {
    opacity: 1;
    margin-top: 0px;
  }

  to {
    opacity: 0;
  	margin-top: -100px;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    margin-top: -100px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}