#logo {
  min-height: 46px;
  background-image: url("/image/NiteNite_OBS_TopName.png");
  background-repeat: no-repeat;
  background-position: center;
}

#followerContainer {
  color: white;
  font-size: 8px;
  transition: all 1s ease;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
}

#follower {
  font-size: 20px;
  line-height: 16px;
}

.invisible {
  opacity: 0;
}