<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="port" value="8080" />
    <add key="TwitchUsername" value="NiteNite" />
    <add key="TwitchClientId" value="pcdjy8a0sdxa91gw3tlav9iotrv7xn" />
    <add key="TwitchCallbackUrl" value="http://47.188.241.69:8080/callback" />
  </appSettings>
</configuration>